body {
    overflow: hidden;
    background-size: 300% 300%;
    background-image: linear-gradient(-45deg, #4A628A 0%, #7AB2D3 25%, #B9E5E8 50%, #DFF2EB 55%, #7AB2D3 100%);
    animation: background_animation 15s ease infinite;
}

  @keyframes background_animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.main_img {
    width: fit;
    margin-block: 25px;
    transform: translate(0, 15px);
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    gap: 10px;
}

.img {
    width: 60px;
    height: 120px;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.2s;
    box-shadow: black 0px 0px 5px;
}

.img:hover {
    box-shadow: black 0px 0px 15px 1px;
    width: 100px;
    scale: 1.2;
    animation: animation 0.3s ease-in-out;
}

@keyframes animation {
    50%{
        opacity: 0.5;
    }
}

.preview {
    width: 100%;
    margin-bottom: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 20px;
}

.pre_img {
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 0px black;
}

@media (max-width: 376px) {
    .main_img {
        overflow-x: scroll;
        padding-inline: 10px;
        scrollbar-color: transparent transparent;
        justify-content: start; /*left*/
    }
    .img {
        width: 80px;
        height: 110px;
    }
    .pre_img {
	    width: 100%;
        height: 100%;
    }
    .preview {
        margin-top: 20%;
        margin-bottom: 80%;
    }
}

.main_img:hover .img:not(:hover){
    filter: grayscale(1) blur(2px);
}